.skills
  background: #ffffff
  &-block
    display: flex
    flex-direction: column
  &-section
    display: flex
    justify-content: space-between
    &__elem
      display: flex
      justify-content: center
      align-items: center
      width: 135px
      height: 135px
      border: 5px solid #FF6F28
      border-radius: 50%