@font-face {
  font-family: 'Museo Sans Light';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Bold';
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot");
  src: url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Museo Sans Light', sans-serif;
  font-weight: 300;
}

.container {
  width: 1170px;
  margin: auto;
}

@media (max-width: 1200px) {
  .container {
    width: 760px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 580px;
    width: 90%;
  }
}

.home-block {
  background: url("../img/cover.jpg") no-repeat;
  height: 100vh;
}

.home-intro {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 0;
  text-align: center;
}

.home-intro h1 {
  color: #ffffff;
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
}

.home-text {
  font-size: 16px;
  font-style: normal;
  text-transform: none;
  color: #ffffff;
}

.arrow-down {
  position: absolute;
  top: 95%;
  left: 50%;
}

.arrow-down span {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 5px solid #ffffff;
  border-right: 5px solid #ffffff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  margin: -16px;
  -webkit-animation: arrow-down 2s infinite;
          animation: arrow-down 2s infinite;
}

.arrow-down span:nth-child(2) {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s;
}

.arrow-down span:nth-child(3) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

@-webkit-keyframes arrow-down {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-10px, -10px);
            transform: rotate(45deg) translate(-10px, -10px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(10px, 10px);
            transform: rotate(45deg) translate(10px, 10px);
  }
}

@keyframes arrow-down {
  0% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(-10px, -10px);
            transform: rotate(45deg) translate(-10px, -10px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: rotate(45deg) translate(10px, 10px);
            transform: rotate(45deg) translate(10px, 10px);
  }
}

.navbar {
  padding: 8px 0;
}

.navbar-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: url("../img/avatar.jpg") no-repeat;
  background-size: cover;
}

.navbar__panel {
  width: 50%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__panel a {
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  font-size: 12px;
}

.navbar__panel a:hover {
  color: #FF6F28;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.hero {
  padding: 50px 0;
  background: #f5f5f5;
}

.hero-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-text {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin: auto;
}

.hero-line {
  background: #cccccc;
  width: 100px;
  height: 1px;
  margin: 0 auto 30px;
}

.hero-works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero-works__elem {
  width: 300px;
  height: 200px;
  border: 1px solid black;
  cursor: pointer;
}

.hero-works__elem:nth-child(n+4) {
  margin-top: 30px;
}

.hero-works__elem:hover {
  -webkit-transition: 0.5s ease-out;
  transition: 0.5s ease-out;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.skills {
  padding: 50px 0;
  background: #ffffff;
}

.skills-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.skills-text {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin: auto;
}

.skills-line {
  background: #cccccc;
  width: 100px;
  height: 1px;
  margin: 0 auto 30px;
}

.skills-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skills-section__elem {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50%;
}

.offer {
  padding: 50px 0;
  background: #f5f5f5;
}

.offer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.offer-text {
  font-family: 'Museo Sans Bold', sans-serif;
  font-weight: 700;
  font-size: 20px;
  margin: auto;
}

.offer-line {
  background: #cccccc;
  width: 100px;
  height: 1px;
  margin: 0 auto 30px;
}

.offer-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer-section__elem {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 50%;
}

.footer-block {
  background: #000000;
  height: 200px;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */